<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Bank</title>
    <style>
        body {
            font-family: Roboto;
        }
        .container {
            display: flex;
            justify-content: center;
        }
        .box {
            width: 800px;
            height: 500px;
            background-color: aliceblue;
        }
        .panel {
            display: flex;
            justify-content: center;
            margin-top: 5%;
        }
        .hint {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="box">
            <h1 style="text-align:center">
                Your balance: ${{ balance }} 
            </h1>
            <div class="hint">
                <p style="color:grey">{{ message }}</p>
            </div> 
            <div class="panel">
                <input type="text" placeholder="Amount">
                <button type="button">Withdraw</button>
                <button type="button">Deposit</button>
            </div>
        </div>
    </div>
</body>
</html>